.journal_table_container {
    margin-top: 20px;

}

.voucherRowActive {
    background-color: #F2E2B1 !important;
}

.journal_table_container>.form-control {
    background-color: #F2E2B1 !important;
}

.journal_label {
    color: #ffffff;
    background-color: #2973B2;
    text-align: center;
}

.curBal {
    font-size: 12px;
    color: #888;
    /* margin-top: 4px; */
    top: 100%;
    left: 0;
    z-index: 10;
}

.negativeBalance {
    font-size: 12px;
    color: red !important;
    /* Red color for negative balance */
}


.curBal {
    font-size: 12px;
    margin-top: 3px;
}

.narrationRow {
    width: 86%;
    border: 1px solid lightgray;
    bottom: 100px
}